body {
    padding-bottom: 2em;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

.nextNav {
    position: fixed; 
    position: sticky; 
    bottom: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.nextNav li {
    list-style: none;
    -webkit-flex: auto;
    flex: auto;
    border-right: 1px solid #999;
}
.nextNav li:last-child {
    border-right: none;
}
.nextNav li a {
    color: rgb(255, 255, 255);
    padding: .3em;
    display: block;
    text-align: center;
    -webkit-transition: background-color 50ms ease-in;
}

.nextNav li a:hover {
    background-color: rgb(255, 87, 0);
}

.nextApps > .nextApp {
    display: none;
}


.nextApps > .nextApp.vis {
    display: block;
}