@charset "UTF-8";


/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "fonts" !default;


@import
  // Ionicons
  "ionicons/ionicons.scss",

  // Variables
  "mixins",
  "variables",

  // Base
  "reset",
  "scaffolding",
  "type",

  // Components
  // "action-sheet",
  // "backdrop",
  // "bar",
  // "tabs",
  // "menu",
  // "modal",
  // "popover",
  // "popup",
  // "loading",
  "items",
  "list",
  // "badge",
  // "slide-box",
  // "refresher",
  "spinner",

  // Forms
  // "form",
  // "checkbox",
  // "toggle",
  // "radio",
  // "range",
  // "select",
  // "progress",

  // Buttons
  "button",
  "button-bar",

  // Util
  "grid",
  // "util",
  // "platform",

  // Animations
  "animations",
  "transitions";
